<div class="home-page-container">
  <div class="home-page-content">
    <div class="home-page-slogan">
      <p class="home-page-slogan-txt">A Catchy Slogan</p>
      <p class="home-page-slogan-desc">Few words about the app. Now filling with dummy text. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      </p>
    </div>
    <div class="home-page-evm-img">
      <img src="assets/evm_representation.png">
    </div>
  </div>
  <div class="home-page-sign-in-but" id="g-signin-button" *ngIf="!isSignedIn">
    <img src="assets/google-logo.png">
    <p>Sign In with Google</p>
  </div>
  <!-- <div class="signin-button-container">
    <div class="g-signin2" data-onsuccess="onSignIn(googleUser)"></div>
  </div> -->
</div>